/*我的客户表格*/
#yj_box{ width: 96%; margin: 20px auto; text-align: center;}

#yj_box {
width: 1000px;
margin: 20px auto;
text-align: center;
border: 1px solid #ffdac8;
font-size: 14px;
}
#yj_box th {
background: #fff7f2;
height:40px;
font-size: 15px;
}
#yj_box  td{ height:30px}
#bg{display:none;position:absolute;top:0;left:0;width:100%;height:100%;background:black;z-index:1001;-moz-opacity:0.7;opacity:.70;filter:alpha(opacity=70);}

#yj_box td img{
	margin: 5px auto;
	border-radius: 50%;
}
#yj_box tr td a:hover{
	color: #EA561A;
}
/* 我的客户 */
#so{ line-height: 30px; padding: 10px 0; border:1px solid #ffdac8; background: #fff7f2; *zoom:1; overflow: hidden;width: 1000px;margin: 0 auto;}
#so li i{ display: inline-block;zoom:1; *display:inline; float: left; width: 80px; padding: 0 8px 0 0; text-align: right; font-style: normal;}
#so li b{ float: left; display: inline-block;zoom:1; *display:inline; width: 880px; font-weight: normal;}
#so li a{ display: inline-block;zoom:1; *display:inline; margin: 0 8px;}
#so form{ 
	clear: both; 
	display: block; 
	padding: 10px 0 0 25px;
	font-size: 14px;
}
#so .txt{ 
/*	float: left;*/
	width: 365px; 
	height: 30px; 
	/*line-height: 32px\9; */
	/*padding: 0 10px; */
	border: 1px solid #ffdac8; 
	margin: 5px 0;
	text-indent: 1em;
	/*margin-right:10px;*/
}
#_form span{
	display: inline-block;
	width: 110px;
}
#so .btn,#so .btn2{ 
	/*float: left; */
	width: 140px; 
	height: 36px; 
	line-height: 36px; 
	/*border: none; */
	background: #44312A; 
	color: #fff; 
	text-align: center; 
	font-size: 16px; 
	/*cursor: pointer;*/
	display: block;
	margin: 10px 0;
}
#so .sex{
	margin-right: 6px;
	vertical-align: middle;
	margin-top: -3px;
}
#so .btn:hover{ background: #f60;}
#so .btn2{ width: 80px; margin: 0 0 0 10px; background: #44312A; border-radius: 4px;}
#so .btn2:hover{ background: #f60; text-decoration: none;}
#so .kh_content{margin-left: 20px; font-size: 16px;}
#so .kh_content span{color: #EA561A;}
