.layout .left,.layout .right,.layout .center{ float: left ;}
.layout .center{ margin:0 140px; width:2px; background: #B2A3A3; height:220px}
.box{ background: #fef2f1; border-top:2px solid #eb561a; border-bottom:1px solid #f4a87d;border-left:1px solid #f4a87d;border-right:1px solid #f4a87d;
padding:40px 100px; font-size:14px; color：#44312a; overflow: hidden;}
.box  p{ line-height: 42px;}
 .box .left span{ width:60px; display: inline-block; zoom:1; *display:inline; text-align: left;}
 .box .left .txt{   display:inline-block;background-color: #fff;
border: 1px solid #ddd;
border-radius: 4px;
color: #bbb;
font-size: 14px;
height: 28px;
line-height: 28px\9;
margin: 0;
padding: 0 8px;
width: 200px;}
 #chk{ vertical-align: middle; cursor: pointer;}
 .left .btns #loginBtn{ padding:7px 20px; color:#fff; font-size:16px; background: #44312A;}
.forgetpwd:hover{ color:#EB561A}
#regisBtn{ padding:10px ; background: #EB561A; color:#fff; cursor: pointer;}
.input1{border: 1px solid #ddd; display:inline-block;background-color: #fff;

border-radius: 4px;
color: #bbb;
font-size: 14px;
height: 28px;
line-height: 28px\9;
margin: 0;
padding: 0 8px;
width: 200px;}
.input2{border: 1px solid #ff6400;display:inline-block;background-color: #fff;

border-radius: 4px;
color: #bbb;
font-size: 14px;
height: 28px;
line-height: 28px\9;
margin: 0;
padding: 0 8px;
width: 200px;}