.mm-txt{
	background: #eeefef;
	border: 1px solid #ccc;
	padding-left: 10px;
	height: 32px;
	line-height: 32px;
	font-size: 14px;
}
.mm-form,.mm-login{
	margin-top: 15px;
	border: 1px solid #ccc;
	text-align: center;
	font-size: 14px;
	padding: 60px 0;
}
.mm-form span {
  display: inline-block;
  width: 90px;
  text-align: right;
}
.mm-form img,.mm-form a{
	margin-left: 95px !important;
}
.mm-login img{
	margin-bottom: 7px;
	margin-right: 10px;
}
.mm-login span{
	color: #ea5618;
  	font-size: 20px;
}
.mm-form input {
  margin-bottom: 10px;
  height: 24px;
  width: 240px;
  border: 1px solid #ccc;
  text-indent: 0.5em;
}
.mm-form form{
	width: 520px;
	margin: 0 auto;
	text-align: left;
	padding-left: 150px;
}
.mm-form span.error-txt{
	color: red;
	width: 130px;
	text-align: left;
	font-size: 12px;
	margin-left: 5px;
	display: none;
}
.mm-form mark{
	color: #fff;
	margin-left: -84px;
	background-color: #EB6128;
	vertical-align: middle;
	cursor: pointer;
	display: inline-block;
	width: 80px;
	text-align: center;
	height: 26px;
	line-height: 26px;
	/*margin-top: -1.5px;*/
}
.mm-form a{
	display: block;
	text-align: center;
	background-color: #EA5618;
	width: 120px;
	margin: 0 auto;
	color: #fff;
	border-radius: 3px;
	padding: 5px;
	margin-top: 15px;
}
.mm-login a{
	display: block;
	background-color: #EA5618;
	width: 100px;
	margin: 0 auto;
	color: #fff;
	border-radius: 3px;
	padding: 5px;
	margin-top: 30px;
}
#mm-2,#mm-3,#mm-4{
	display: none;
}
